<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true"
         processIsolation="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <!-- TODO: Model / Repository testing -->
            <file>app/Adapter/Auth/ClientRepository.php</file>
            <file>app/Adapter/File/FileRepository.php</file>
            <file>app/Foundation/Repository.php</file>
            <!-- TODO: Commands testing -->
            <directory suffix=".php">app/Console/Command</directory>
            <!-- TODO: Exceptions testing -->
            <directory suffix=".php">app/Foundation/Exceptions</directory>
            <!-- TODO: Digest Auth testing -->
            <directory suffix=".php">app/Domain/Auth</directory>
            <!-- TODO: Domain testing -->
            <file>app/Domain/Client/Command/CreateClient/CreateClient.php</file>
            <file>app/Domain/File/Command/UploadImage/UploadImage.php</file>
            <file>app/Domain/File/Command/DeleteImageByClient/DeleteImageByClient.php</file>
            <file>app/Domain/File/Command/DeleteImageById/DeleteImageById.php</file>
            <file>app/Domain/File/FileService.php</file>
            <!-- TODO: Action testing -->
            <file>app/Http/CreateClient/CreateClientAction.php</file>
            <file>app/Http/UploadFile/UploadFileAction.php</file>
            <file>app/Http/DeleteFileByClient/DeleteFileByClientAction.php</file>
            <file>app/Http/DeleteFileById/DeleteFileByIdAction.php</file>
            <!-- Unnecessary testing -->
            <directory suffix=".php">app/Provider</directory>
            <directory suffix=".php">app/Http/Auth</directory>
            <directory suffix=".php">app/Http/ParseRequest</directory>
            <directory suffix=".php">app/Http/Test</directory>
            <directory suffix=".php">app/Strategy</directory>
            <file>app/Foundation/Model/Model.php</file>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing" />
    </php>
</phpunit>
